/* utilities link  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* =================header section start===================  */

.header-area {
    background-color: #dddada3f;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

.header-area .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .header-section nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #000000;
    margin-left: 34px;
}


/* =================toggle menu===========  */

.header-section-toggle {
    display: none;
    text-align: center;
    background-color: #dddada3f;
    padding: 25px 10px;
}

.site-logo-title-toggle h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #504e4ee8;
}

.toggle-menu-item a {
    display: block;
    text-decoration: none;
    color: #504e4ee8;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid rgba(175, 173, 173, 0.411)
}

.toggle-menu-items .search-icon a {
    display: inline-block;
    margin: 10px;
    color: #504e4ee8;
    padding-bottom: 0px;
}


/* ----------sliding section--------  */

.container,
.header-section {
    width: 90%;
    margin: auto;
}

.sliding-section {
    margin-bottom: 69px;
}

.slide-info {
    display: flex;
    align-items: center;
}

.slide-detail,
.slide-img {
    width: 50%;
}

.sliding-section .slide-detail .slide-img-info h1 {
    margin: 0;
    font-size: 3.25em;
    font-weight: 700;
}

.sliding-section .slide-detail .slide-img-info p {
    font-size: 1em;
    font-weight: 600;
}

.sliding-section .slide-detail .slide-img-info button {
    border: none;
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
}

.sliding-section .slide-detail .slide-img-info a,
.fa-arrow-right {
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.sliding-section .slide-detail .slide-img-info .fa-arrow-right {
    display: inline-block;
    margin-left: 8px;
    padding-top: 3px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-img .image-info {
    border: 2px solid #F1E4FF;
    border-radius: 50%;
    padding: 10px;
}

.slide-img .image-info img {
    width: 440px;
    height: 440px;
}

.slide-img .image-bg {
    width: 350px;
    height: 350px;
    border-radius: 210px;
    background-color: #F1E4FF;
    position: absolute;
    z-index: -1;
}

.sliding-section:hover .slide-detail {
    position: relative;
    transform: translate(100%);
}

.sliding-section:hover .slide-img {
    position: relative;
    transform: translate(-125%);
}

.slide-img {
    transition: transform 2.5s ease-in-out;
}

.slide-detail {
    transition: transform 2.5s ease-in-out;
}

hr {
    width: 84%;
    border: 1px solid rgba(219, 217, 217, 0.363);
}


/* ---banner logo section start---  */

.banner-logos {
    width: 84%;
    margin: auto;
}

.banner-logo {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* -------popular collections section start--------  */

.popular-collections {
    width: 84%;
    margin: auto;
}

.popular-collection {
    background-color: #dddada3f;
    border-radius: 5px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 15px;
}

.popular-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #c2c2c2;
    ;
}

.item-image {
    text-align: center;
}

.popular-collections h2 {
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 1.75em;
    font-weight: 600;
}

.popular-collection h3 {
    margin: 15px 0;
    font-size: 1.50em;
    font-weight: 500;
}

.popular-collection h5 {
    margin: 0 0 10px 0;
    font-size: 1.25em;
}

.ratings {
    margin: 15px 0;
}

.ratings .fa-star {
    color: goldenrod;
}

.ratings .blank-star {
    color: #b9b8b8;
}

.popular-collection p {
    margin: 0;
}

.explore-collection {
    text-align: right;
    padding: 10px 10px;
    margin: 50px 0 0 0;
}

.explore-collection a {
    text-decoration: none;
    color: #E02C6D;
}

.explore-collection i {
    color: #E02C6D;
    margin-left: 10px;
}


/* Our happy clients section start */

.clients h2 {
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 1.75em;
    font-weight: 600;
}

.client-details {
    width: 84%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
}

.single-client-info {
    background-color: #c2bdbd23;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #94919157;
}

.client-image {
    width: 100px;
    height: 100px;
    /* border: 2px solid #948f8f3f; */
    border-radius: 110px;
    box-shadow: 2px 2px 2px #adadad3f;
    background: #ffffff;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.clients-reviews img {
    width: 100px;
    height: 100px;
}

.client-ratings {
    margin-top: 20px;
}

.client-ratings .fa-star {
    color: goldenrod;
}

.client-comments p {
    margin-bottom: 0;
    color: rgb(90, 89, 89);
    font-size: .75em;
    font-weight: 300;
}

.more-reviews {
    margin-top: 30px;
    text-align: center;
}

.more-reviews button {
    border: none;
    padding: 8px 10px;
    background-color: #E02C6D;
}

.more-reviews a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}


/* ======================footer area start====================  */

footer {
    margin-top: 100px;
    padding: 50px 0;
    height: 100px;
    background-color: #0A0826;
    color: #ffffff;
}

.footer-info {
    text-align: center;
}

.footer-info h2,
p {
    margin: 5px;
    font-weight: 300;
}

.footer-info p {
    font-size: .75em;
    font-weight: 300;
}

.social-icon i {
    font-size: 1.75em;
    margin: 15px 15px;
}


/* --------media query design start--------  */

@media only screen and (max-width:680px) {
    /* ======================header section start==========  */
    .header-area {
        display: none;
    }
    /* ========================toggle menu==============  */
    .header-section-toggle {
        display: block;
    }
    /* =======================main area start====================  */
    .container {
        width: 100%;
        margin: auto;
        overflow-x: hidden;
    }
    .sliding-section {
        margin-bottom: 20px;
    }
    .slide-info {
        padding: 15px 15px;
        display: flex;
        flex-direction: column-reverse;
    }
    .slide-detail,
    .slide-img {
        width: 100%;
        margin: 25px;
        text-align: center;
    }
    .sliding-section .slide-detail .slide-img-info h1 {
        margin: 0;
        font-size: 2em;
        font-weight: 700;
    }
    .slide-img .image-info img {
        width: 300px;
        height: 300px;
    }
    .slide-img .image-bg {
        width: 270px;
        height: 270px;
        border-radius: 135px;
        background-color: #F1E4FF;
        position: absolute;
        z-index: -1;
    }
    /* -------========================logos section===========-------  */
    .banner-logos .banner-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner-logos .banner-logo img {
        width: 55px;
        margin: 10px;
    }
    /* -----------popular collections section start-----------  */
    .popular-collections {
        width: 99%;
        margin: auto;
    }
    .popular-collection {
        background-color: #d4d1d152;
        border-radius: 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 0px;
    }
    .explore-collection {
        text-align: right;
        padding: 10px 10px;
        margin: 30px 0 0 0;
    }
    /* ----------clients section start------  */
    .client-details {
        width: 98%;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 20px;
    }
    .clients h2 {
        margin: 50px 0 30px 0;
    }
    footer {
        margin-top: 50px;
    }
}


/* -----------------media query for Tab device----------- */

@media only screen and (min-width:681px) and (max-width:991px) {
    .header-area {
        display: none;
    }
    /*
    /* ========================toggle menu==============  */
    .header-section-toggle {
        display: block;
    }
    /* =========================main area start======================  */
    .container {
        width: 99%;
        margin: auto;
    }
    .sliding-section {
        margin-bottom: 20px;
    }
    .slide-info {
        padding: 15px 15px;
        display: flex;
        flex-direction: column-reverse;
    }
    .slide-detail,
    .slide-img {
        width: 100%;
        margin: 25px;
        text-align: center;
    }
    .sliding-section .slide-detail .slide-img-info h1 {
        margin: 0;
        font-size: 2.5em;
        font-weight: 700;
    }
    /* -------logos section-------  */
    .banner-logos .banner-logo {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    .banner-logos .banner-logo img {
        width: 55px;
        margin: 10px;
    }
    /* -----------popular collections section start-----------  */
    .popular-collections {
        width: 99%;
        margin: auto;
    }
    .popular-collection {
        background-color: #d4d1d152;
        border-radius: 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }
    /* ----------clients section start------  */
    .client-details {
        width: 98%;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }
    .clients h2 {
        margin: 50px 0 30px 0;
    }
    footer {
        margin-top: 50px;
    }
}